/*
 * Copyright (c) 2021 Bosch Sensortec GmbH
 *
 * SPDX-License-Identifier: Apache-2.0
 */
 
 / {
 
	aliases 
	{
      press = &bmp390;
    };
};

&i2c0 {
	status = "okay";

	bmp390: bmp390@77 {
		compatible = "bosch,bmp390";
		status = "okay";
		reg = <0x77>;
    odr = "50";
    osr-press = <8>;
    osr-temp = <1>;
    iir-filter = <3>;
	};
};

